{% extends 'base.html.twig' %}

{% block title %}NOS PRODUITS{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-9 justify-content-center mx-auto">

            <h3>Nos produits</h3>

            <div class="row">
                <a href="{{ path('products_index') }}"> <i class='bx bxs-arrow-to-left'></i> Retour</a>

                {% for product in category.products %}
                    <div class="col-md-4 mt-4" >
                        <div class="card m-3">
                            <div class="position-relative">
                                <a href="">
                                    <img src="/uploads/images/{{ product.image }}" alt="{{ product.name }}" width="100%" style="height:250px;" class="img-fluid img-thumbnai card-img-tol"></a>
                                <div class="card-img-overlay d-flex justify-content-end align-items-end">
                                    <button type="button" class="btn btn-light rounded-circle" data-toggle="button" aria-pressed="false" autocomplete="off"><i class="far fa-heart"></i></button>
                                </div>
                            </div>
                            <div class="card-body">
                            <div class="row">
                            <div class="col-md-6">
                                <h6 class="card-title"><span class=" text-dark">{{ product.name }}</span></h6> 
                                <small>{{ product.description }}  </small>

                                <span class="d-block text-dark">Prix : {{ product.price }} € 
                                </span>
                                <span class="d-block"><span class="d-block ">
                                    {% if  product.stock  == 1  %}
                                    <small class="text-success">Produit disponible</small>
                                    {% else %}
                                    <small class="text-danger">Produit non disponible</small>
                                    {% endif %}
                                    </span>
                                </span>
                            </div> 
                            <div class="col-md-6">
                                    {% if  product.stock  == 1  %}
                                        <div class="m-3"><a href="{{ path("cart_add", {'id': product.id} ) }}"><button class="btn btn-warning">Ajouter</button></a>
                                        </div>
                                    {% else %}
                                        <div class="m-3"><button class="btn btn-warning text-decoration-line-through " disabled >Ajouter</button></div>
                                    {% endif %}
                            </div>
                            </div>
             
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>


        </div>
    </div>
{% endblock %}