{% extends "base.html.twig" %}
{% block title %}Le petit Vietnamien{% endblock %}

{% block body %}


 <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">
          <h1>Restaurant<span> Le Petit Vietnamien</span></h1>
          <h2>Homemade Fast-good, Spécialités Vietnamiennes</h2>
          <p style="color:white">Sur Place - A emporter - Livraison</p>

          <div class="btns">
            <a href="#menu" class="btn-menu animated fadeInUp scrollto">La carte</a>
            <a href="{{path('products_index')}}" class="btn-book animated fadeInUp scrollto">Commander</a>
          </div>
        </div>
        {# <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in" data-aos-delay="200">
          <a href="" class="glightbox play-btn"></a>
        </div> #}

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">


    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Actualités</h2>
          <p >Dernières nouvelles</p>
        </div>

        <div class="row">
            {% for post in posts|reverse|slice(0,3) %}
            <div class="col-lg-4">
              <div class="box" data-aos="zoom-in" data-aos-delay="100">
                <span>{{post.createdAt|date('d/m/Y h:m')}}</span>
                <h4>{{post.name}}</h4>
                <p>{{post.content| raw }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>


    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <div class="about-img">
              <img src="assets/img/gallery/devant.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content bloc-about" >
            <h3>Les saveurs du Vietnam à côté de chez vous</h3>
            <ul>
              <li><i class='bx bx-check-circle' ></i>Le Petit Vietnamien vous propose une cuisine traditionnelle venue tout droit d'Asie, tels que le Bo Bun ou encore le Pho.</li>
              <li><i class='bx bx-check-circle' ></i>Tous nos produits sont frais et cuisinés le jour même, afin de vous offrir la meilleure expérience gustative et bon pour la santé. </li>
              <li><i class='bx bx-check-circle' ></i>Nous vous proposons un large choix de saveurs pour Le Bubble Tea, la boisson phare de Taiwan !  </li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu section-bg">
      <div class="container" data-aos="fade-up">

        <div  id="menu" class="section-title">
          <h2>Menu</h2>
          <p>Nous vous proposons un large choix</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="menu-flters">
              <li data-filter="*" class="filter-active">Tout</li>
              <li data-filter=".filter-specialty">Spécialitée</li>
              <li data-filter=".filter-starters">Entrée</li>
              <li data-filter=".filter-plat">Plat</li>
              <li data-filter=".filter-dessert">Déssert</li>
              <li data-filter=".filter-bbtea">Bubble Tea</li>

            </ul>
          </div>
        </div>

        <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-6 menu-item filter-plat">
            <img src="{{ asset('uploads/bobun.jpeg') }}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Bo Bun</a><span>12€90</span>
            </div>
            <div class="menu-ingredients">
              Vermicielles de riz, crudités, herbes aromatiques et viande avec sauce nuoc mâm Les viandes : Bœuf citronnelle, Bœuf oignons, Poulet citronnelle, Poulet char siu ou Crevettes saté. Les nems : Nem au poulet ou Nem légumes Les garnitures : Pousses de soja, salade, menthe, coriandre, concombre, ciboulette, oignon frits, cacahuètes grillées, carottes marinées, piment frais.

            </div>
          </div>

          <div class="col-lg-6 menu-item filter-plat">
            <img src="{{ asset('uploads/mixao.jpeg') }}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Mi Xao</a><span>12€90</span>
            </div>
            <div class="menu-ingredients">
              Nouilles sautées ou croustillantes, servi avec une viande au choix avec légumes sautés et garniture au choix.
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-plat">
            <img src="{{ asset('uploads/riz.jpeg') }}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Riz sauté</a><span>12€90</span>
            </div>
            <div class="menu-ingredients">
              Riz sauté avec des petits pois et des oeufs, servi avec une viande et garniture au choix .
            </div>
          </div>


          <div class="col-lg-6 menu-item filter-specialty">
            <img src="{{ asset('uploads/banhmi.jpeg') }}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Banh mi</a><span>7€90€</span>
            </div>
            <div class="menu-ingredients">
              Sandwich à base de pain baguette à composer /// Les sauces : Mayonnaise fait maison ou Sauce piment /// Les viandes : Boeuf citronnelle ou Poulet char siu /// Les garnitures : Carottes marinées, concombres, coriande et piment frais
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-specialty">
            <img src="{{ asset('uploads/banhmi.jpeg') }}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Bánh mì Tofu à la citronnelle</a><span>7€90</span>
            </div>
            <div class="menu-ingredients">
              Sandwich à base de pain baguette à composer /// Les sauces : Mayonnaise fait maison ou Sauce piment /// Les viandes : Boeuf citronnelle ou Poulet char siu /// Les garnitures : Carottes marinées, concombres, coriande et piment frais
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-specialty">
            <img src="{{ asset('uploads/banhbao.jpeg') }}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Banh bao</a><span>5€50</span>
            </div>
            <div class="menu-ingredients">
              Brioche farcie à la viande, cuite à la vapeur.
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-specialty">
            <img src="{{ asset('uploads/banhbao.jpeg') }}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Bánh bao veggie</a><span>5€50</span>
            </div>
            <div class="menu-ingredients">
              Brioche farcie aux légumes, cuite à la vapeur: chou blanc, carottes, ciboulette, champignons noirs, oeuf, shiitaké.
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-starters">
            <img src="{{ asset('uploads/nem.png') }}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Nem aux légumes</a><span>1€50</span>
            </div>
            <div class="menu-ingredients">
              nem au légumes - carrote, brocoli, oignons et tofu
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-starters">
            <img src="{{ asset('uploads/nem.png') }}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Nem au poulet</a><span>1€50</span>
            </div>
            <div class="menu-ingredients">
              Des feuilles de riz garnie d'une farce à base de poulet (halal) et de légumes frais mixés. Les nems sont frits pour le crousillant et servis avec une sauce nuoc man.
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-starters">
            <img src="{{ asset('uploads/roll.jpeg') }}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Rouleau de printemps aux crevettes</a><span>4€50</span>
            </div>
            <div class="menu-ingredients">
               Le rouleau de printemps est une spécialité de la cuisine vietnamienne, consommée en apéritif ou en entrée. Enroulée dans une feuille de riz crue, la garniture est : Menthe, coriandre, cacahuètes hachées, poulet ou crevettes ou les deux !
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-starters">
            <img src="{{ asset('uploads/samoussa.jpeg') }}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Samoussa aux légumes</a><span>1€50</span>
            </div>
            <div class="menu-ingredients">
              De bons samoussas végétariens très savoureux et épicées, à éviter si l'on n'aime pas les plats un peu relevés !
            </div>
          </div>



          <div class="col-lg-6 menu-item filter-bbtea">
            <img src="{{ asset('uploads/bigbbtea.jpg') }}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Grand Bubble Tea</a><span>7€90</span>
            </div>
            <div class="menu-ingredients">
              Boisson à base de thé avec des perles fruitées ou des perles de tapioca aromatisé selon vos goûts ** THES : Thé vert ou Thé noir ** PERLES : Perles de tapioca ou Perles fruitées du jour ** ARÔMES ou sirop au choix : Lacté (nature, matcha ou taro) ou fruité **
            </div>
          </div>


          <div class="col-lg-6 menu-item filter-bbtea">
            <img src="{{ asset('uploads/smallbbtea.jpg') }}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Petit Bubble Tea</a><span>6€90</span>
            </div>
            <div class="menu-ingredients">
              Boisson à base de thé avec des perles fruitées ou des perles de tapioca aromatisé selon vos goûts ** THES : Thé vert ou Thé noir ** PERLES : Perles de tapioca ou Perles fruitées du jour ** ARÔMES ou sirop au choix : Lacté (nature, matcha ou taro) ou fruité **
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-dessert">
            <img src="{{ asset('uploads/coco.jpeg') }}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Perles de Tapioca au lait de Coco Banane</a><span>4€60</span>
            </div>
            <div class="menu-ingredients">
              Dessert au lait de coco avec de la banane
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-dessert">
            <img src="{{ asset('uploads/nem.png') }}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Nems aux Chocolat et Coco</a><span>4€60</span>
            </div>
            <div class="menu-ingredients">
               Des feuilles de riz garnie de chocolat noir et de coco. Les nems sont frits pour le crousillant et servis tiede.
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-dessert">
            <img src="{{ asset('uploads/mangue.jpeg') }}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Riz gluant au lait de coco avec mangue</a><span>4€60</span>
            </div>
            <div class="menu-ingredients">
               une version du dessert riz au lait exotique à la coco et à la mangue
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Menu Section -->

    <!-- ======= Specials Section ======= -->
    <section id="specials" class="specials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Spécialitées</h2>
          <p>Nos saveurs inédites</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Bo Bun</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Mi Xao</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Banh bao</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Banh mi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Bubble Tea</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Bo Bun</h3>
                    <p class="fst-italic">Spécialité vietnamienne à notre façon, fraîche et nourrissante !</p>
                    <p>Vermicielles de riz, crudités, herbes aromatiques et viande avec sauce nuoc mâm Les viandes : Bœuf citronnelle, Bœuf oignons, Poulet citronnelle, Poulet char siu ou Crevettes saté. Les nems : Nem au poulet ou Nem légumes Les garnitures : Pousses de soja, salade, menthe, coriandre, concombre, ciboulette, oignon frits, cacahuètes grillées, carottes marinées, piment frais.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{{ asset('uploads/bobun.jpeg') }}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Mi Xao</h3>
                    <p class="fst-italic">Classique de la cuisine vietnamienne, le Mi Xao est un plat à base de nouilles, de viande et de fruits de mer.</p>
                    <p>Mì signifie « nouille de blé » et xào, « sauté ». Pour ceux et celles qui n'ont pas beaucoup de temps pour cuisiner mais qui veulent toujours avoir des repas faits maison à la fois délicieux et nutritifs, voici le plat idéale de nouilles sautées à la vietnamienne. Elle est composée de nouilles aux œufs (Ramen), de légumes et de viande. Elle peut être déclinée en plat « Vegan ».</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{{ asset('uploads/mixao.jpeg') }}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Banh bo</h3>
                    <p class="fst-italic">Le Banh Bao est une spécialité asiatique très populaire dans le sud de la Chine et au Vietnam.</p>
                    <p>Le bánh bao est un pain farcis à la vapeur. La pâte contient du lait et la farce contient généralement de l'œuf dur et de la saucisse. Il est classé dans les bánh, signifiant « gâteau », un ensemble de plats très variés de la cuisine vietnamienne.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{{ asset('uploads/banhbao.jpeg') }}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Banh mi</h3>
                    <p class="fst-italic">Le Banh mi, délicieux sandwich vietnamien épicé</p>
                    <p>Bánh mì est un mot vietnamien qui signifie « pain de blé ». Le pain, et plus particulièrement la baguette, a été introduit au Viêt Nam pendant l’époque coloniale française.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{{ asset('uploads/banhmi.jpeg') }}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Bubble Tea</h3>
                    <p class="fst-italic">le Bubble tea est un mélange de thé vert ou thé noir et de saveurs fruitées. Il peut être mixé avec du lait ou non selon les goûts.</p>
                    <p>Spécificité : les grosses perles de tapioca brunes qui tapissent le fond du verre de Bubble tea rendent cette boisson unique. « Chewy » de l’intérieur et légèrement sucrées, vous aspirerez ces perles à l’aide d’une paille XXL ! </p>
                    <p>Personnalité : lacté, le Bubble tea est d’un tempérament doux et accompagne parfaitement les perles de tapioca légèrement sucrées. Au sirop de fruit, le Bubble tea devient synonyme de fraîcheur et relève à merveille la douceur des perles.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2" style="margin: 45px auto;">
                    <img src="{{ asset('uploads/bbtea.jpeg') }}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Specials Section -->
 

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">

      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Galerie</h2>
          <p>Quelques photos de notre restaurant</p>
        </div>
      </div>

      <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-0">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
                <img src="assets/img/gallery/com.jpeg" alt="" class="img-fluid">
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
                <img src="assets/img/gallery/bubble.jpeg" alt="" class="img-fluid" style="height: 296px;">
            </div>
          </div>

         <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
                <img src="assets/img/gallery/banhbao.jpeg" alt="" class="img-fluid">
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
                <img src="assets/img/gallery/index5.png" alt="" class="img-fluid" style="height: 296px;">
            </div>
          </div>

    

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
                <img src="assets/img/gallery/deco.jpeg" alt="" class="img-fluid" style="height: 296px;">
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
                <img src="assets/img/gallery/bobun.jpeg" alt="" class="img-fluid">
            </div>
          </div>


        <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
                <img src="assets/img/gallery/formule1.jpg" alt="" class="img-fluid" style="height: 297px;">
            </div>
          </div>

          <div class="col-lg-3 col-md-5">
            <div class="gallery-item">
                <img src="assets/img/gallery/mixao.jpeg" alt="" class="img-fluid">
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Gallery Section -->

    <!-- ======= Chefs Section ======= -->
    <section id="chefs" class="chefs" style="background: #1A1814;">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Notre staff</h2>
          {# <p>Pour vous familiariser</p> #}
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <img src="assets/img/chefs/chefs-1.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Elisia Lefur</h4>
                  <span>Propriétaire</span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Chefs Section -->


    <div id="preloader"></div>

  </main><!-- End #main -->

{% endblock %}