{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
      {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
      {% endfor %}
<div class="container w-75 bg-light mt-3 ">
    <div class=" pt-3 pb-3">
        <h1 class="color-g">Bienvenue dans l'espace administration</h1>
        {% if app.user %}
            <div >
            Vous êtes connecté(e) en tant que {{ app.user.username }}
            </div>
        {% endif %}
        <hr>
        <div class="row">
            <div class=" col-md-4">
                <div class="account-item">
                    <a href="{{ path('admin_orders') }}"><i class='bx bx-shopping-bag'></i>  Liste des commandes</a>
                </div>
            </div>  
            <div class=" col-md-4">
                <div class="account-item">
                    <a href="{{ path('admin_list_all_products') }}"><i class='bx bxs-component'></i> Gestion des produits</a>
                </div>
            </div>
            <div class=" col-md-4">
                <div class="account-item">
                <a href="{{ path('admin_users') }}">                  
                    <i class='bx bx-face'></i>   Gestion  utilisateurs
                    </a>
                </div>
            </div>      
        </div>
        <hr>
        <div class="row">
            <div class=" col-md-4">
                <div class="account-item">
                    <a href="{{ path('newsletters_list') }}">
                    <i class='bx bx-envelope' ></i>  Gestion des newsletters</a>
                </div>
            </div>
            <div class=" col-md-4">
                <div class="account-item">
                    <a href="{{ path('post_list') }}"><i class='bx bx-star' ></i>  Gestion des actualités</a>
                </div>
            </div>
        </div>   
        <hr>
    </div>
</div>

{% endblock %}
