{% extends 'base.html.twig' %}

{% block title %}Liste des Newsletters{% endblock %}

{% block body %}


<div class="container table-responsive">
    <h1 class="mt-4" >Liste des newsletters</h1>
    <div><a href="{{ path('admin_index') }}"> <i class='bx bxs-arrow-to-left'></i> Retour</a></div>

<table class="table mt-4">
        <thead>
            <tr>
                <th>ID</th>
                <th>Titre</th>
                <th>Date</th>
                <th>Catégorie</th>
                <th>Inscrits</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for newsletter in newsletters %}
                <tr>
                    <td>{{newsletter.id}}</td>
                    <td>{{newsletter.name}}</td>
                    <td>{{newsletter.createdAt|date}}</td>
                    <td>{{newsletter.categories.name}}</td>
                    <td>{{newsletter.categories.users|length}}</td>
                    <td>
                        {% if newsletter.isSent == false %}
                            <a href="{{ path('newsletters_send', {id: newsletter.id}) }}">Envoyer</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        
        </tbody>
    </table>

</div>
{% endblock %}
