{% extends 'base.html.twig' %}

{% block title %}Liste des Newsletters{% endblock %}

{% block body %}


<div class="container table-responsive">
    <h1 class="mt-4" >Liste des newsletters</h1>
    <div><a href="{{ path('admin_index') }}" class="btn btn-gold mb-4"> <i class='bx bxs-arrow-to-left'></i> Retour</a></div>
        <div class="text-center m-4 "><a class="btn btn-gold" href="{{ path('newsletters_prepare') }}">
               <i class='bx bx-pencil' ></i>  Ecrire une newsletter</a></div>

<table class="table mt-4">
        <thead>
            <tr>
                <th>ID</th>
                <th>Titre</th>
                <th>Date</th>
                <th>Catégorie</th>
                <th>Inscrits</th>
                <th>Actions</th>
                <th>Modifier</th>
                <th>Supprimer</th>

            </tr>
        </thead>
        <tbody>
            {% for newsletter in newsletters %}
                <tr>
                    <td>{{newsletter.id}}</td>
                    <td>{{newsletter.name}}</td>
                    <td>{{newsletter.createdAt|date('d-M-Y')}}</td>
                    <td>{{newsletter.categories.name}}</td>
                    <td>{{newsletter.categories.users|length}}</td>
                    <td>
                        {% if newsletter.isSent == false %}
                            <a class="btn btn-gold" href="{{ path('newsletters_send', {id: newsletter.id}) }}">A envoyer</a>
                            {% else %}
                            <p class="text-success">Déjà Envoyé</p> 
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-warning" href="{{ path('newsletters_modified', {id: newsletter.id}) }}">X</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" href="{{ path('newsletters_delete', {id: newsletter.id}) }}">X</a>
                    </td>
                </tr>
            {% endfor %}
        
        </tbody>
    </table>

</div>
{% endblock %}
