
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Le Petit Vietnamien</h3>
              <p>
                50 Av. Anatole France <br>
                93600 Aulnay-sous-Bois, France<br><br>
                <strong>Téléphone : </strong>01 41 70 21 89<br>
                <strong>Email :</strong> lepetitvietnamien93@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="https://www.facebook.com/lepetitvietnamien/" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://instagram.com/lepetitvietnamien/" class="instagram"><i class="bx bxl-instagram"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">

          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ path('index') }}#navId">Accueil</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ path('post_contact') }}">Contact</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ path('plan') }}">Plan du site</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ path('cgv') }}">CGV / CGU & Droit de rétractation</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ path('mention') }}">Mentions Légales</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 text-center">
              <a class="navbar-brand" href="{{ path('index') }}#navId"><img src="{{ asset('uploads/logo.png') }} " alt="" width="30%"></a>
          </div>
        </div>
      </div>
    </div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class='bx bx-up-arrow-alt'></i></a></div>


    <div class="container">
      <div class="copyright">
        &copy; <strong><span>Le Petit Vietnamien</span></strong>
      </div>
      <div class="credits">

      </div>
    </div>
  </footer><!-- End Footer -->