{% extends 'base.html.twig' %}

{% block title %}BIENVENUE DANS TON PROFIL!{% endblock %}

{% block body %}
    {# welcome dans ton profil
    {% if app.user %}
        <div class="mb-3">
            Tu es loggué en tant que {{ app.user.username }}

        </div>


        <a href="{{ path('newsletters_home') }}"><button class="btn btn-success" >inscription à la newsletter</button></a>
        <a href="#"><button class="btn btn-warning" >tes commandes</button></a> #}

    <div class="container mt-4 mb-4 p-3 d-flex justify-content-around">
    <div class="card p-4">
        <div class=" image d-flex flex-column justify-content-center align-items-center"> <button class="btn btn-secondary"> <img src="https://i.imgur.com/wvxPV9S.png" height="100" width="100" /></button> <span class="name mt-3">{{ app.user.firstname }}</span> <span class="idd">{{ app.user.username }}</span>
            <div class="d-flex flex-row justify-content-center align-items-center gap-2"> <span class="idd1">adresse : {{ app.user.adress }} {{ app.user.zipcode }} {{ app.user.city }}</span> <span><i class="fa fa-copy"></i></span> </div>
      <div class="d-flex flex-row justify-content-center align-items-center gap-2"> <span class="idd1">numero de telephone : {{ app.user.phone }}</span> <span><i class="fa fa-copy"></i></span> </div> 


            <div class=" d-flex mt-2"><a href="{{ path('edit_profil', {id: app.user.id}) }}"><button class="btn btn-dark">Edit Profile</button></a></div>
            <div class=" px-2 rounded mt-4 date "> <span class="join">Inscrit(e) le {{ app.user.createdAT|date("d M Y") }}</span> </div>
        </div>
    </div>
        <div class="card p-4">
        <div class=" image d-flex flex-column justify-content-center align-items-center"> 
        <h2 class="name mt-3">MA COMMANDE</h2><button class="btn btn-secondary"> 
        <img src="http://www.lavalleedelalune.fr/wp-content/uploads/2015/05/petit-panier.png" height="100" width="100" /></button> 

            <div class=" d-flex mt-2"><a href="{{ path('user_order', {id: app.user.id}) }}"><button class="btn btn-dark">voir la commande</button></a></div>

        </div>
    </div>
</div>
{% endblock %}

