{% extends 'base.html.twig' %}

{% block title %}MODIFICATION DU PROFIL!{% endblock %}

{% block body %}

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right color-g">Bienvenue dans l'espace modification du profil {{ app.user.username }}</h4>
                </div>
                {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
                {% endfor %}
                {{ form_start(userForm,{'attr': {'novalidate': 'novalidate'}}) }}

                <div class="row mt-2">
                    <div class="col-md-6">                       
                    {{ form_row(userForm.lastname) }}
                    </div>
                    <div class="col-md-6">                 
                    {{ form_row(userForm.firstname) }}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                    
                        {{ form_row(userForm.adress) }}
                        {{ form_row(userForm.zipcode) }}
                        {{ form_row(userForm.city) }}
                        {{ form_row(userForm.phone) }}
                        {{ form_row(userForm.email) }}
                        {{ form_row(userForm.password) }}
                        <div style="visibility:hidden;height:10px;">{{ form_row(userForm.roles) }}</div>

                    </div>
                    <div class="col-md-12 text-center">
                        <button class="btn btn-gold" type="submit">
                            Modifier votre profil
                        </button>
                    </div>
                </div>
            </div>
        </div>

        {{ form_end(userForm) }}

    </div>
</div>
</div>
</div>
{% endblock %}

