{% extends 'base.html.twig' %}

{% block title %}Mes commandes{% endblock %}

{% block body %}
    <div class="container w-75">
    <h1>Mes commandes</h1>
    <hr>
    <a href="{{ path('user_index') }}" class="btn btn-gold"> Retour</a><br>

    {% if app.user.orders | length == 0 %}
        <p class="text-center">
            Vous n'avez pas encore passé de commande sur notre Boutique.
        </p>
    {% else %}
        <br>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Reference</th>
                <th scope="col">Statut</th>
                <th scope="col">Passée le </th>
                <th scope="col">Total</th>
                <th scope="col"></th>
            </tr>
            </thead>

            <tbody>
            {% for order in app.user.orders %}
            {% if order.status == 1 %}
            <tr>
                <td><span class="text-primary">{{ order.reference }}</span></td>
                <td>
                    {% if order.status == 1 %}
                        Paiement accepté
                    {% else %}
                        Annulé
                    {% endif %}
                </td>
                <td>{{ order.createdAt|date('d/m/Y')}}</td>
                <td>{{ (order.amount)|number_format(2, ',', '.') }} €</td>
                <td class="text-right">     
                <a href="{{ path('user_bill_download', {'id': order.id}) }}"> 
                <button class="btn btn-outline-dark">                
                    <i class='bx bx-face'></i>  Facture
                </button>
                </a></td>
                {% endif %}
                {% endfor %}
            </tr>
            </tbody>
        </table>
    {% endif%}
    </div>
{% endblock %}